<a href="https://colab.research.google.com/github/MariyaYu/Lesson_1/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats
from scipy.stats import shapiro
from scipy.stats import anderson
from scipy.stats import kstest
from scipy.stats import mannwhitneyu
data = pd.read_excel('Nasdaq.xlsx')
df = pd.DataFrame(data)
df

,Unnamed: 0,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry,Z
0,871,BAM,Brookfield Asset Management Inc. Common Stock,$45.52,-1.670,-3.539%,74720277027,Canada,1925,1563431,Consumer Discretionary,Other Consumer Services,BAM
1,2048,CVR,Chicago Rivet & Machine Co. Common Stock,$28.47,-0.020,-0.07%,27505778,United States,1930,882,Consumer Discretionary,Industrial Specialties,CVR
2,4491,LGL,LGL Group Inc. (The) Common Stock,$11.435,-0.065,-0.565%,61296974,United States,1946,1509,Technology,Industrial Machinery/Components,LGL
3,1526,CET,Central Securities Corporation Common Stock,$35.75,-0.520,-1.434%,974773228,United States,1951,15250,Finance,Finance/Investors Services,CET
4,5166,NBR,Nabors Industries Ltd.,$161.03,-12.920,-7.427%,1515601156,Bermuda,1951,82194,Energy,Oil & Gas Production,NBR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3900,8254,XPDB,Power & Digital Infrastructure Acquisition II ...,$9.81,0.010,0.102%,352546875,United States,2022,243,Industrials,Consumer Electronics/Appliances,XPDB
3901,8256,XPDBW,Power & Digital Infrastructure Acquisition II ...,$0.24,-0.015,-5.882%,0,United States,2022,8100,Industrials,Consumer Electronics/Appliances,XPDBW
3902,8264,XPON,Expion360 Inc. Common Stock,$2.97,-0.230,-7.188%,20167963,United States,2022,70206,Technology,Electronic Components,XPON
3903,8322,ZING,FTAC Zeus Acquisition Corp. Class A Common Stock,$9.88,0.000,0.00%,553658730,United States,2022,506,Industrials,Consumer Electronics/Appliances,ZING
3904,8324,ZINGW,FTAC Zeus Acquisition Corp. Warrant,$0.17,0.005,3.03%,0,United States,2022,27500,Industrials,Consumer Electronics/Appliances,ZINGW

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3905 entries, 0 to 3904
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3905 non-null   int64
 1   Symbol      3905 non-null   object
 2   Name        3905 non-null   object
 3   Last Sale   3905 non-null   object
 4   Net Change  3905 non-null   float64
 5   % Change    3905 non-null   object
 6   Market Cap  3905 non-null   int64
 7   Country     3905 non-null   object
 8   IPO Year    3905 non-null   int64
 9   Volume      3905 non-null   int64
 10  Sector      3905 non-null   object
 11  Industry    3905 non-null   object
 12  Z           3905 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 396.7+ KB

In [11]:
df.describe()

        Unnamed: 0   Net Change    Market Cap     IPO Year        Volume
count  3905.000000  3905.000000  3.905000e+03  3905.000000  3.905000e+03
mean   4170.461460    -0.991582  5.754744e+09  2013.071703  5.780370e+05
std    2377.129162     4.169152  6.353889e+10    10.522540  2.639760e+06
min       0.000000  -170.985000  0.000000e+00  1925.000000  1.000000e+00
25%    2191.000000    -0.730000  3.427910e+07  2007.000000  9.897000e+03
50%    4181.000000    -0.170000  2.704117e+08  2018.000000  7.495700e+04
75%    6236.000000    -0.010000  1.165274e+09  2021.000000  3.249490e+05
max    8356.000000     7.380000  2.330135e+12  2022.000000  6.188427e+07

In [12]:
df.isnull()

,Unnamed: 0,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry,Z
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3900,False,False,False,False,False,False,False,False,False,False,False,False,False
3901,False,False,False,False,False,False,False,False,False,False,False,False,False
3902,False,False,False,False,False,False,False,False,False,False,False,False,False
3903,False,False,False,False,False,False,False,False,False,False,False,False,False
3904,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
# Ð¿ÑƒÑÑ‚Ñ‹Ðµ ÑÑ‡ÐµÐ¹ÐºÐ¸ Ð¾Ñ‚ÑÑƒÑ‚ÑÑ‚Ð²ÑƒÑŽÑ‚
# Ð²Ð¸Ð´Ð¸Ð¼, Ñ‡Ñ‚Ð¾ Ð¼Ð½Ð¾Ð³Ð¾ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð¾Ð² Ð½Ðµ Ð¸Ð¼ÐµÑŽÑ‚ Ñ„Ð¾Ñ€Ð¼Ð°Ñ‚ Ð´Ð°Ñ‚Ñ‹ Ð¸ Ð²Ñ€ÐµÐ¼ÐµÐ½Ð¸, Ñ‚.Ðµ. Ð½Ðµ Ñ€Ð°ÑÑÐ¼Ð°Ñ‚Ñ€Ð¸Ð²Ð°ÑŽÑ‚Ð¼Ñ Pandas (Ð¾Ð±Ð¾Ð·Ð½Ð°Ñ‡ÐµÐ½Ñ‹ ÐºÐ°Ðº object). Ð¢Ð°ÐºÐ¶Ðµ Ð²Ð¸Ð´Ð¸Ð¼, Ñ‡Ñ‚Ð¾ ÑÑ‚Ð¾Ð»Ð±Ñ†Ñ‹ Ð½Ðµ ÑÐ¾Ð´ÐµÑ€Ð¶Ð°Ñ‚ Ð¿Ñ€Ð¾Ð¿ÑƒÑÐºÐ¸.

In [16]:
np.random.seed(0)
np.random.randint(1, len('Nasdaq.xlsx'))

6

In [ ]:
# Ð±ÑƒÐ´ÐµÐ¼ Ñ€Ð°ÑÑÐ¼Ð°Ñ‚Ñ€Ð¸Ð²Ð°Ñ‚ÑŒ ÐºÐ¾Ð¼Ð¿Ð°Ð½Ð¸ÑŽ Ð² ÑÑ‚Ñ€Ð¾ÐºÐµ 6.

In [17]:
data.loc[6]

Unnamed: 0                                           2647
Symbol                                                ESP
Name          Espey Mfg. & Electronics Corp. Common Stock
Last Sale                                          $14.45
Net Change                                            0.0
% Change                                            0.00%
Market Cap                                       35266034
Country                                     United States
IPO Year                                             1960
Volume                                               2759
Sector                                         Technology
Industry                  Industrial Machinery/Components
Z                                                     ESP
Name: 6, dtype: object

In [ ]:
# Ð³Ð¾Ð´ IPO - 1960
# ÑÑ‚Ñ€Ð°Ð½Ð° - United States
# ÑÐµÐºÑ‚Ð¾Ñ€ -   Technology
# Ð¸Ð½Ð´ÑƒÑÑ‚Ñ€Ð¸Ñ -  Industrial Machinery/Components

In [20]:
contingency_table = pd.crosstab(df['Country'], df['Industry'])

In [23]:
contingency_table

Industry,Accident &Health Insurance,Advertising,Aerospace,Agricultural Chemicals,Air Freight/Delivery Services,Aluminum,Apparel,Assisted Living Services,Auto & Home Supply Stores,Auto Manufacturing,...,Specialty Insurers,Steel/Iron Ore,Telecommunications Equipment,Tobacco,Transportation Services,Trucking Freight/Courier Services,Trusts Except Educational Religious and Charitable,Water Sewer Pipeline Comm & Power Line Construction,Water Supply,Wholesale Distributors
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Australia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Belgium,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bermuda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Brazil,0,0,1,0,2,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
Canada,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cayman Islands,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Chile,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
China,0,2,0,0,3,1,1,0,0,3,...,3,1,1,0,1,0,0,0,0,0
Costa Rica,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Curacao,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Denmark,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Finland,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
France,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Germany,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Greece,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Hong Kong,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
India,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ireland,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Isle of Man,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Israel,0,0,0,1,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
Italy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Japan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jersey,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jordan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Luxembourg,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
Macau,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Malaysia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Malta,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mexico,0,0,2,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
Monaco,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Netherlands,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Norway,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Panama,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Peru,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Puerto Rico,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Singapore,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
South Africa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
South Korea,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
Spain,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Sweden,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Switzerland,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Taiwan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
United Arab Emirates,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
United Kingdom,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
United States,3,27,11,8,7,1,10,2,2,8,...,8,8,37,1,0,11,88,4,4,6

In [ ]:
# ÐžÑ†ÐµÐ½Ð¸Ð²Ð°ÐµÐ¼ ÑÑ‚ÐµÐ¿ÐµÐ½ÑŒ ÑÐ²ÑÐ·Ð¸ Ð¼ÐµÐ¶Ð´Ñƒ Ð´Ð²ÑƒÐ¼Ñ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ð¸Ð°Ð»ÑŒÐ½Ñ‹Ð¼Ð¸ Ð¿ÐµÑ€ÐµÐ¼ÐµÐ½Ð½Ñ‹Ð¼Ð¸: ÑÑ‚Ñ€Ð°Ð½Ð¾Ð¹ Ð¸ Ð¸Ð½Ð´ÑƒÑÑ‚Ñ€Ð¸ÐµÐ¹. ÐŸÐ¾Ð»ÑƒÑ‡Ð¸Ð»Ð¸ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñƒ ÑÐ¾Ð¿Ñ€ÑÐ¶ÐµÐ½Ð½Ð¾ÑÑ‚Ð¸.
# Ð² Ð¿ÐµÑ€Ð²Ð¾Ð¹ ÑÑ‚Ñ€Ð¾ÐºÐµ Ð¼Ñ‹ Ð²Ð¸Ð´Ð¸Ð¼ Ð²ÑÐµ Ð²Ð¸Ð´Ð¸ Ð¸Ð½Ð´ÑƒÑÑ‚Ñ€Ð¸Ð¸: Accident &Health Insurance, Advertising, Aerospace. Ð”Ð°Ð»ÐµÐµ Ð²Ð²ÐµÐ´ÐµÐ½Ñ‹ ÑÑ‚Ñ€Ð°Ð½Ñ‹ Ñ ÑƒÐºÐ°Ð·Ð°Ð½Ð¸ÐµÐ¼ ÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ð² ÐºÐ°Ð¶Ð´Ð¾Ð¹ ÑÑ‚Ñ€Ð°Ð½Ðµ Ñ‚Ð°ÐºÐ¸Ñ… Ð¸Ð½Ð´ÑƒÑÑ‚Ñ€Ð¸Ð¹. Ð’Ð¸Ð´Ð¸Ð¼, Ñ‡Ñ‚Ð¾ Ð±Ð¾Ð»ÑŒÑˆÐµ Ð²ÑÐµÐ³Ð¾
# (Ð¿Ñ€Ð°ÐºÑ‚Ð¸Ñ‡ÐµÑÐºÐ¸ Ñ€Ð°Ð·Ð²Ð¸Ñ‚Ð° ÐºÐ°Ð¶Ð´Ð°Ñ Ð¸Ð½Ð´ÑƒÑÑ‚Ñ€Ð¸Ð¹) Ð² United States.

In [25]:
from scipy.stats import chi2_contingency

In [26]:
chi2_contingency(contingency_table)

Chi2ContingencyResult(statistic=14138.045163038063, pvalue=0.0, dof=6435, expected_freq=array([[4.60947503e-03, 4.60947503e-02, 2.30473752e-02, ...,
        6.14596671e-03, 7.68245839e-03, 9.21895006e-03],
       [3.07298335e-03, 3.07298335e-02, 1.53649168e-02, ...,
        4.09731114e-03, 5.12163892e-03, 6.14596671e-03],
       [2.30473752e-03, 2.30473752e-02, 1.15236876e-02, ...,
        3.07298335e-03, 3.84122919e-03, 4.60947503e-03],
       ...,
       [7.68245839e-04, 7.68245839e-03, 3.84122919e-03, ...,
        1.02432778e-03, 1.28040973e-03, 1.53649168e-03],
       [3.14980794e-02, 3.14980794e-01, 1.57490397e-01, ...,
        4.19974392e-02, 5.24967990e-02, 6.29961588e-02],
       [2.59590269e+00, 2.59590269e+01, 1.29795134e+01, ...,
        3.46120359e+00, 4.32650448e+00, 5.19180538e+00]]))