<a href="https://colab.research.google.com/github/MariyaYu/Lesson_1/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats
from scipy.stats import shapiro
from scipy.stats import anderson
from scipy.stats import kstest
from scipy.stats import mannwhitneyu
data = pd.read_excel('Nasdaq.xlsx')
df = pd.DataFrame(data)
df

,Unnamed: 0,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry,Z
0,871,BAM,Brookfield Asset Management Inc. Common Stock,$45.52,-1.670,-3.539%,74720277027,Canada,1925,1563431,Consumer Discretionary,Other Consumer Services,BAM
1,2048,CVR,Chicago Rivet & Machine Co. Common Stock,$28.47,-0.020,-0.07%,27505778,United States,1930,882,Consumer Discretionary,Industrial Specialties,CVR
2,4491,LGL,LGL Group Inc. (The) Common Stock,$11.435,-0.065,-0.565%,61296974,United States,1946,1509,Technology,Industrial Machinery/Components,LGL
3,1526,CET,Central Securities Corporation Common Stock,$35.75,-0.520,-1.434%,974773228,United States,1951,15250,Finance,Finance/Investors Services,CET
4,5166,NBR,Nabors Industries Ltd.,$161.03,-12.920,-7.427%,1515601156,Bermuda,1951,82194,Energy,Oil & Gas Production,NBR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3900,8254,XPDB,Power & Digital Infrastructure Acquisition II ...,$9.81,0.010,0.102%,352546875,United States,2022,243,Industrials,Consumer Electronics/Appliances,XPDB
3901,8256,XPDBW,Power & Digital Infrastructure Acquisition II ...,$0.24,-0.015,-5.882%,0,United States,2022,8100,Industrials,Consumer Electronics/Appliances,XPDBW
3902,8264,XPON,Expion360 Inc. Common Stock,$2.97,-0.230,-7.188%,20167963,United States,2022,70206,Technology,Electronic Components,XPON
3903,8322,ZING,FTAC Zeus Acquisition Corp. Class A Common Stock,$9.88,0.000,0.00%,553658730,United States,2022,506,Industrials,Consumer Electronics/Appliances,ZING
3904,8324,ZINGW,FTAC Zeus Acquisition Corp. Warrant,$0.17,0.005,3.03%,0,United States,2022,27500,Industrials,Consumer Electronics/Appliances,ZINGW

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3905 entries, 0 to 3904
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3905 non-null   int64
 1   Symbol      3905 non-null   object
 2   Name        3905 non-null   object
 3   Last Sale   3905 non-null   object
 4   Net Change  3905 non-null   float64
 5   % Change    3905 non-null   object
 6   Market Cap  3905 non-null   int64
 7   Country     3905 non-null   object
 8   IPO Year    3905 non-null   int64
 9   Volume      3905 non-null   int64
 10  Sector      3905 non-null   object
 11  Industry    3905 non-null   object
 12  Z           3905 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 396.7+ KB

In [57]:
df.describe()

        Unnamed: 0   Net Change    Market Cap     IPO Year        Volume
count  3905.000000  3905.000000  3.905000e+03  3905.000000  3.905000e+03
mean   4170.461460    -0.991582  5.754744e+09  2013.071703  5.780370e+05
std    2377.129162     4.169152  6.353889e+10    10.522540  2.639760e+06
min       0.000000  -170.985000  0.000000e+00  1925.000000  1.000000e+00
25%    2191.000000    -0.730000  3.427910e+07  2007.000000  9.897000e+03
50%    4181.000000    -0.170000  2.704117e+08  2018.000000  7.495700e+04
75%    6236.000000    -0.010000  1.165274e+09  2021.000000  3.249490e+05
max    8356.000000     7.380000  2.330135e+12  2022.000000  6.188427e+07

In [58]:
df.isnull()

,Unnamed: 0,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry,Z
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3900,False,False,False,False,False,False,False,False,False,False,False,False,False
3901,False,False,False,False,False,False,False,False,False,False,False,False,False
3902,False,False,False,False,False,False,False,False,False,False,False,False,False
3903,False,False,False,False,False,False,False,False,False,False,False,False,False
3904,False,False,False,False,False,False,False,False,False,False,False,False,False

In [59]:
# пустые ячейки отсутствуют
# видим, что много столбцов не имеют формат даты и времени, т.е. не рассматриваютмя Pandas (обозначены как object). Также видим, что столбцы не содержат пропуски.

In [60]:
np.random.seed(0)
np.random.randint(1, len('Nasdaq.xlsx'))

6

In [61]:
# будем рассматривать компанию в строке 6.

In [62]:
data.loc[6]

Unnamed: 0                                           2647
Symbol                                                ESP
Name          Espey Mfg. & Electronics Corp. Common Stock
Last Sale                                          $14.45
Net Change                                            0.0
% Change                                            0.00%
Market Cap                                       35266034
Country                                     United States
IPO Year                                             1960
Volume                                               2759
Sector                                         Technology
Industry                  Industrial Machinery/Components
Z                                                     ESP
Name: 6, dtype: object

In [63]:
# год IPO - 1960
# страна - United States
# сектор -   Technology
# индустрия -  Industrial Machinery/Components

In [64]:
contingency_table = pd.crosstab(df['Country'], df['Industry'])

In [65]:
contingency_table

Industry,Accident &Health Insurance,Advertising,Aerospace,Agricultural Chemicals,Air Freight/Delivery Services,Aluminum,Apparel,Assisted Living Services,Auto & Home Supply Stores,Auto Manufacturing,...,Specialty Insurers,Steel/Iron Ore,Telecommunications Equipment,Tobacco,Transportation Services,Trucking Freight/Courier Services,Trusts Except Educational Religious and Charitable,Water Sewer Pipeline Comm & Power Line Construction,Water Supply,Wholesale Distributors
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Australia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Belgium,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bermuda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Brazil,0,0,1,0,2,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
Canada,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cayman Islands,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Chile,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
China,0,2,0,0,3,1,1,0,0,3,...,3,1,1,0,1,0,0,0,0,0
Costa Rica,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Curacao,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Denmark,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Finland,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
France,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Germany,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Greece,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Hong Kong,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
India,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ireland,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Isle of Man,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Israel,0,0,0,1,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
Italy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Japan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jersey,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jordan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Luxembourg,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
Macau,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Malaysia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Malta,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mexico,0,0,2,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
Monaco,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Netherlands,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Norway,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Panama,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Peru,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Puerto Rico,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Singapore,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
South Africa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
South Korea,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
Spain,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Sweden,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Switzerland,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Taiwan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
United Arab Emirates,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
United Kingdom,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
United States,3,27,11,8,7,1,10,2,2,8,...,8,8,37,1,0,11,88,4,4,6

In [66]:
# Оцениваем степень связи между двумя категориальными переменными: страной и индустрией. Получили таблицу сопряженности.
# в первой строке мы видим все види индустрии: Accident &Health Insurance, Advertising, Aerospace. Далее введены страны с указанием сколько в каждой стране таких индустрий. Видим, что больше всего
# (практически развита каждая индустрий) в United States.

In [67]:
from scipy.stats import chi2_contingency

In [68]:
# Нулевая гипотеза: между Industry и Country нет статистически значимой разницы.

In [69]:
chi2_contingency(contingency_table)

Chi2ContingencyResult(statistic=14138.045163038063, pvalue=0.0, dof=6435, expected_freq=array([[4.60947503e-03, 4.60947503e-02, 2.30473752e-02, ...,
        6.14596671e-03, 7.68245839e-03, 9.21895006e-03],
       [3.07298335e-03, 3.07298335e-02, 1.53649168e-02, ...,
        4.09731114e-03, 5.12163892e-03, 6.14596671e-03],
       [2.30473752e-03, 2.30473752e-02, 1.15236876e-02, ...,
        3.07298335e-03, 3.84122919e-03, 4.60947503e-03],
       ...,
       [7.68245839e-04, 7.68245839e-03, 3.84122919e-03, ...,
        1.02432778e-03, 1.28040973e-03, 1.53649168e-03],
       [3.14980794e-02, 3.14980794e-01, 1.57490397e-01, ...,
        4.19974392e-02, 5.24967990e-02, 6.29961588e-02],
       [2.59590269e+00, 2.59590269e+01, 1.29795134e+01, ...,
        3.46120359e+00, 4.32650448e+00, 5.19180538e+00]]))

In [70]:
# наша нулевая гипотеза опровергнута, т.к. pvalue меньше 5 %.
# Вывод: статистически значимая ассоциация (связь) между Industry и Country существует.

In [71]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.31)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.23.5)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.8)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (3.16.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2023.7.22)

In [72]:
import yfinance as yf

In [73]:
yf.download(tickers="ESP", period="756mo", interval="1mo", group_by='column')

[*********************100%%**********************]  1 of 1 completed

                 Open       High      Low    Close  Adj Close  Volume
Date
1985-01-01   0.000000  12.500000  10.2500  12.3125   2.595997  195000
1985-02-01   0.000000  12.250000  10.6250  11.8125   2.490575  175200
1985-03-01   0.000000  12.125000  10.1875  11.3750   2.398332  103800
1985-04-01   0.000000  11.375000   9.9375  10.0000   2.108424   78400
1985-05-01   0.000000  11.500000   9.0625  11.3125   2.385154  180200
...               ...        ...      ...      ...        ...     ...
2023-06-01  16.410000  19.000000  16.0100  16.7500  16.502062  129000
2023-07-01  18.000000  18.000000  15.6900  16.4000  16.247206   74600
2023-08-01  16.170000  17.160000  14.7400  16.8200  16.663292   72000
2023-09-01  17.030001  17.719999  15.1500  16.1500  15.999535  142800
2023-10-01  16.090000  16.370001  14.6900  15.2856  15.285600   88933

[466 rows x 6 columns]

In [74]:
# Создаем временной ряд с данными из столбца "Volume"

In [75]:
data = {'Дата': pd.date_range(start='1985-01-01', periods=10, freq='D'), 'Значение': [195000, 175200, 103800, 78400, 180200, 60800, 70600, 55200, 120800, 167600]}
df = pd.DataFrame(data)

In [76]:
df

        Дата  Значение
0 1985-01-01    195000
1 1985-01-02    175200
2 1985-01-03    103800
3 1985-01-04     78400
4 1985-01-05    180200
5 1985-01-06     60800
6 1985-01-07     70600
7 1985-01-08     55200
8 1985-01-09    120800
9 1985-01-10    167600

In [77]:
rolling_window = df['Значение'].rolling(window=3)

In [ ]:
# находим скользящее среднее

In [78]:
rolling_mean = rolling_window.mean()

In [83]:
df['Скользящее_среднее'] = rolling_mean

In [84]:
df['Скользящее_среднее']

0              NaN
1              NaN
2    158000.000000
3    119133.333333
4    120800.000000
5    106466.666667
6    103866.666667
7     62200.000000
8     82200.000000
9    114533.333333
Name: Скользящее_среднее, dtype: float64

In [ ]:
# находим скользящую сумму

In [85]:
rolling_sum = rolling_window.sum()

In [86]:
df['Скользящая_сумма'] = rolling_sum

In [87]:
df['Скользящая_сумма']

0         NaN
1         NaN
2    474000.0
3    357400.0
4    362400.0
5    319400.0
6    311600.0
7    186600.0
8    246600.0
9    343600.0
Name: Скользящая_сумма, dtype: float64

In [ ]:
# находим скользящую дисперсию

In [88]:
rolling_std = rolling_window.std()

In [89]:
df['Скользящая_дисперсия'] = rolling_std

In [90]:
df['Скользящая_дисперсия']

0             NaN
1             NaN
2    47971.241385
3    50188.577718
4    52986.413353
5    64458.462077
6    66287.957680
7     7794.870108
8    34303.935634
9    56461.432264
Name: Скользящая_дисперсия, dtype: float64

In [93]:
dates = pd.date_range(start='2023-01-01', periods=365, freq='D')
returns = np.random.normal(loc=10, scale=15, size=365)
df = pd.DataFrame({'Дата': dates, 'Дневные_изменения': returns})
window_size = 30
rolling_variance = df['Дневные_изменения'].rolling(window=window_size).var()

In [94]:
rolling_variance

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
360    264.217106
361    268.553515
362    273.147108
363    275.114591
364    285.098660
Name: Дневные_изменения, Length: 365, dtype: float64